.title {
  font-size: 3rem;
  padding: 2rem;
  color: white;
}

.section {
  height: 100vh;
  width: 100%;
  // border: 1px solid rgb(0, 76, 255);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  // background-image: url("/src/assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  img {
    position:relative;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .copy {
    h2 {
      position: relative;
      z-index:1;
      font-size: 1.4rem;
      font-weight: lighter;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(255, 255, 255);
      text-align: center;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  .downArrow {
    position: absolute;
    bottom: 50px;
    left:0;
    right:0;
    margin: 0 auto;
    background-image: url('../../assets/icons8-down-arrow-64(1).png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height:40px;
    z-index: 2;
  }

  button {
    background-color: transparent;
    border: transparent;
  }
}

.featuredFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  // border: 1px solid red;
  width: 90%;
  // @media (min-width: 768px) {
  //   flex-direction: column;
  // }
}

.projectContainer {
  width:clamp(20rem, 60%, 60rem);
  min-width: 20rem;
  // max-width: 22rem;
  height:fit-content;
  // min-height: 8rem;
  background-color: #39423c;
  margin: 0 1rem 1rem 1rem;
  border-radius: 1px;
  padding: 0.8rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  // border: 1px solid green;
  filter: brightness(100%);
  transition: all 2s ease-in;
  // border: 1px solid blue;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.verticalProjectContainer {
  width: 50%;
  min-width: 15rem;
  height: clamp(5.5rem, calc(3rem + 3vw) , 7rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  // border: 1px solid red;
  background-color: #191c1a;
  padding: 0.5rem 0.5rem 0.7rem 1rem;

  border-radius: 3px;
}

.horozontalProjectContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  // border: 1px solid red;
}


.timelineLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  // border: 1px solid red;

}

.linkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  // padding: 0.3rem 0rem 0rem 0rem;
  // border: 1px solid green;
  // border:1px solid red;

  .linkImageContainer {
    width: 1rem;
    height: 1rem;
    margin: 0.25rem 0 0 0.2rem;
    overflow: visible;
    transition: all 0.4s ease-in;
    // border:1px solid palegoldenrod;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  img {
    position: relative;
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: fit-content;
    transform: translate(0%, -50%);
    transition: all 0.2s ease-in;
    cursor: pointer;
  }



  img:hover {
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: fit-content;
    filter: brightness(105%) contrast(130%);
    // background-color: white;
    // border: 1px solid rgba(0, 0, 0, 0.712);
    // border-radius: 6px;
    transform: scale(1.1) translate(0%, -50%);
    z-index:100;
    transition: all 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  
}

// .projectContainer:hover {
//   transition: all 5s ease-in;
//   filter: brightness(80%) contrast(120%);
// }

// .projectContainer:hover {
//   animation: featureJiggle 0.35s ease-in;
// }

// @keyframes featureJiggle {
//   0% {
//     transform: rotateZ(0deg);
//   }
//   20% {
//     transform: rotateZ(1deg);
//   }
//   40% {
//     transform: rotateZ(-1deg);
//   }
//   60% {
//     transform: rotateZ(1deg);
//   }
//   80% {
//     transform: rotateZ(-1deg);
//   }
//   100% {
//     transform: rotateZ(0deg);
//   }
  
// }

.imgContainer {
  width: clamp(16rem,calc(14rem + 2vw),30rem);
  min-width: 1rem;
  height: clamp(0.5rem,calc(0.2rem + 8vw),10rem);
  overflow: hidden;
  transition: all 0.15s ease-in;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  // border: 1px solid goldenrod;
  border-radius: 1px;
  margin: 0rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  img {
    object-fit: cover;
    object-position: top;
    transform: scale(1.15);
    transform: translateY(0%);
    width: 100%;
    height:100%;
    transition: all 0.15s ease-in;
    // border: 1px solid hotpink;
    // @media (min-width: 768px) {
    //   height: 0rem;
    //   width: 0rem;
    // }
  }



  img:hover {
    filter: brightness(105%);
    transform: scale(1.2) translateY(7%);
    transition: all 0.15s ease-in;
  }
}

.imgContainer:hover {
  transform: translateY(-0.2rem);
  transition: all 0.15s ease-in;
}
.projectTitle {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  text-align: center;
  // margin-top: 0.2rem;
  text-shadow: 1px 1px 3px rgba(25, 25, 25, 0.649);
}

.projectDetail {
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5rem;
  // min-height: 7rem;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.649);
}

.timeline {
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  // text-align: left;
  margin-top: 0.2rem;
  text-shadow: 1px 1px 3px rgba(25, 25, 25, 0.649);
}

.techContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0.3rem 0rem 0rem 0rem;
  // border:1px solid red;

  .techImageContainer {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.2rem;
    overflow: visible;
    transition: all 0.4s ease-in;
    // border:1px solid palegoldenrod;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  img {
    position: relative;
    object-fit: contain;
    object-position:top;
    width: 100%;
    height: fit-content;
    transition: all 0.2s ease-in;
  }



  img:hover {
    object-fit: contain;
    object-position:top;
    width: 100%;
    filter: brightness(105%) contrast(130%);
    background-color: white;
    // border: 1px solid rgba(0, 0, 0, 0.712);
    border-radius: 20px;
    transform: scale(1.6) translateY(-0.2rem);
    z-index:100;
    transition: all 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  
}




a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  transition: all 0.2s ease-in;
  font-size: 1.5rem;
}

a:link {
  color: #849f92;
  transition: all 0.2s ease-in;
}

a:visited {
  color: #849f92;
  transition: all 0.2s ease-in;
}

a:focus {
  color:white;
  transition: all 0.2s ease-in;
}

a:hover {
  color:white;
  transition: all 0.2s ease-in;
}

a:active {
  color: #849f92;
  transition: all 0.2s ease-in;
}