.section {
  height: 100vh;
  width: 100%;
  // border: 1px solid rgb(0, 76, 255);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  // background-image: url("/src/assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  img {
    position:relative;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .copy {
    h2 {
      position: relative;
      z-index:1;
      font-size: 1.4rem;
      font-weight: lighter;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(255, 255, 255);
      text-align: center;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  .downArrow {
    position: absolute;
    bottom: 50px;
    left:0;
    right:0;
    margin: 0 auto;
    background-image: url('../../assets/icons8-down-arrow-64(1).png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height:40px;
    z-index: 2;
  }

  button {
    background-color: transparent;
    border: transparent;
  }
}

.featuredFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  // border: 1px solid red;
  width: 90%;
  // @media (min-width: 768px) {
  //   flex-direction: column;
  // }
}

.projectContainer {
  width:25%;
  min-width: 15rem;
  max-width: 22rem;
  height:fit-content;
  min-height: 28rem;
  background-color: #67716d;
  margin: 0 1rem 2rem 1rem;
  border-radius: 1px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid green;
  filter: brightness(100%);
  transition: all 2s ease-in;

}


.projectContainer:hover {
  transition: all 5s ease-in;
  filter: brightness(80%) contrast(120%);
}

// .projectContainer:hover {
//   animation: featureJiggle 0.35s ease-in;
// }

// @keyframes featureJiggle {
//   0% {
//     transform: rotateZ(0deg);
//   }
//   20% {
//     transform: rotateZ(1deg);
//   }
//   40% {
//     transform: rotateZ(-1deg);
//   }
//   60% {
//     transform: rotateZ(1deg);
//   }
//   80% {
//     transform: rotateZ(-1deg);
//   }
//   100% {
//     transform: rotateZ(0deg);
//   }
  
// }

.imgContainer {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  transition: all 0.35s ease-in;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  // border: 1px solid goldenrod;

  img {
    object-fit: contain;
    object-position:top;
    transform: scale(1.15);
    transform: translateY(1%);
    width: 100%;
    height:inherit;
    transition: all 1s ease-in;
    // border: 1px solid hotpink;
  }



  img:hover {
    filter: brightness(105%);
    transform: scale(1.6) translateY(17%);
    transition: all 0.35s ease-in;
  }
}

.imgContainer:hover {
  transform: translateY(-0.2rem);
  transition: all 0.35s ease-in;
}
.projectTitle {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 1.2rem;
}

.projectDetail {
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  text-align: left;
  margin-top: 0.8rem;
  min-height: 7rem;
}

.timeline {
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 0.8rem;
}

.techContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 2rem ;

  .techImageContainer {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    overflow: visible;
    transition: all 1s ease-in;
  }

  img {
    position: relative;
    object-fit: contain;
    object-position:top;
    width: 100%;
    height: fit-content;
    transition: all 0.4s ease-in;
  }



  img:hover {
    object-fit: contain;
    object-position:top;
    width: 100%;
    filter: brightness(105%) contrast(130%);
    transform: scale(1.2);
    transition: all 0.2s ease-in;
  }

  
}




a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  transition: all 0.2s ease-in;
  font-size: 1.5rem;
}

a:link {
  color: #849f92;
  transition: all 0.2s ease-in;
}

a:visited {
  color: #849f92;
  transition: all 0.2s ease-in;
}

a:focus {
  color:white;
  transition: all 0.2s ease-in;
}

a:hover {
  color:white;
  transition: all 0.2s ease-in;
}

a:active {
  color: #849f92;
  transition: all 0.2s ease-in;
}