.navcontainer {
  position: absolute;
  z-index: 3;
  // ScaleX -1 flips horo
  // transform: scaleX(-1) scaleY(-1);
  // border: 3px solid red;
  // background-image: url("../../assets/bg/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg");
  // background-color: #dedede;
  color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  filter: brightness(100%) contrast(100%) invert(0%);
  bottom:10%;
  left:5%;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.5rem;

  ul {
    margin: 0;
    padding: 0;
  }
  ol {
    border:1px solid purple;
    padding: 1rem 1.5rem;

  }
}


.burgerPosition {
  height: 5rem;
  width: 5rem;
  border: 1px solid red;
  position: absolute;
  top: 2%;
  right: 2%;
}



.navBurger {
  height:1.6rem;
  width: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .line1 {
    width: 70%;
    height: 1px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(0.2rem);
    position: relative;
    z-index: 100;
    transition: 0.8s ease-in-out;
  }

  .line2 {
    width: 65%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    z-index: 100;
    transition: 1s ease-in-out;
  }

  .line3 {
    width: 70%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(-0.2rem);
    position: relative;
    z-index: 100;
    transition: 0.8s ease-in-out;
  }

  .line1x {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    top:36%;
    transform: rotate(45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }

  .line2x {
    width: 0%;
    height: 0px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px,;
    transform: translate(2.5rem, 0rem);
    position: relative;
    z-index: -90;
    transition: 1.0s ease-in-out;
  }

  .line3x {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    bottom:28%;
    transform: rotate(-45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    // transition: 0.8s ease-in-out;
    animation: line-3-anim 1s linear;
  }

  @keyframes line-3-anim {
    from {
      transform: rotate(0deg) translateY(0rem);
  }
    to {
      transform: rotate(-225deg) translateY(0rem);
    }
  }
}

.navBurger:hover .line1 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.navBurger:hover .line2 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.navBurger:hover .lineS3 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
